.navMenu {
    background: darkorange;
    display: flex;
}

body {
    margin: 0;
    background: rgb(2,0,36);
    background: linear-gradient(45deg, rgba(2,0,36,1) 17%, rgba(255,115,0,1) 100%);
    font-family: sans-serif;
    font-weight: 100;
}

.container {
    position: absolute;
    left: 7.5%;
}

table {
    width: 800px;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

th,
td {
    padding: 15px;
    background-color: rgba(255,255,255,0.2);
    color: #fff;
}

th {
    text-align: left;
}

        }
    }
}