<table>
  <tr class='table-header'>
    <th>Title</th>
    <th>Submit</th>
    <!-- <th>Submit2</th> -->
  </tr>

{% for movie in movies %}
  <tr>
    <td>{{ movie.title }}</td>
      <td>
        <form hx-post="/" hx-target="this" hx-trigger="click submit">
          <button name="hx" hx-get="/edit" type="submit" id="movie" value='{{ [movie.movie_id, movie.title, movie.votes] }}' >Vote!</button>
        </form>
    </td>

<!--     <td>
      <form hx-get="/edit" hx-target="this" hx-trigger="click submit">
        <button name="hx" type="submit" hx-include="closest tr">
          Tester
        </button>
      </form>
    </td> -->
  </tr>
{% endfor %}
</table>
