<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Search</title>
    <a class="action" href="{{ url_for('moviequeue.index') }}">Queued</a>
  </head>
  <body>
  <section class="section">
    <div class="container">
        <nav class="panel">
            <p class="panel-heading">
              Movies
            </p>

            <div class="panel-block">
              <p class="control has-icons-left">
                <input class="input" type="text" placeholder="Search" name="q" hx-trigger="keyup changed delay:500ms" hx-get="/search_movies" hx-target="#results">
                <span class="icon is-left">
                  <i class="fas fa-search" aria-hidden="true"></i>
                </span>
              </p>
            </div>
            <!-- <form id="getForm"> -->
              <div id="results">
              </div>
            <!-- </form> -->
          </nav>
    </div>
  </section>

<!--   <script src="https://unpkg.com/htmx.org@1.7.0"></script> -->
  <script src="{{ url_for('static', filename='js/movies.js') }}"></script>
  <script src="https://unpkg.com/htmx.org@1.8.2"></script>
  <!-- have a button POST a click via AJAX -->

  </body>
</html>